.popupd-bg {
  background-color: rgba(30, 30, 30, 0.98);
  backdrop-filter: blur(10px);
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #00000020;
  position: relative;
  padding: 15px;
}

.MediaInfo {
  position: absolute;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MediaInfo__artist {
  font-size: 12px;
}

.MediaInfo__title {
  font-size: 14px;
  font-weight: bold;
}

.MediaInfo__album {
  font-size: 12px;
}

.MediaInfo__album-cover {
  border-radius: 50%;
  overflow: hidden;
}
